<h1><%= @user.name %></h1>

<% @user.decks.each do |d| %>
  <h3><%= d.name %></h3>
  <% userdecks =  d.user_decks.where(user_id: @user.id)%>
  <% userdecks.each do |stats| %>
    Round: <%= stats.round %><br>
    Date: <%= stats.created_at %><br>
    Cards in Deck: <%= d.cards.length %><br>
    First Guess Correct: <%= stats.first_try_correct %><br>
    Total Guesses: <%= stats.total_guesses %><br>
  <% end %>
  <br>
<% end %>
