<div class="center border-1px-dotted-grey round-1 w-750">
<h1 class="text-c c-white"><%= @user.name %></h1>

<% @to_print.each do |deck_id, elems| %>
<table class="w-600 center">
  <tr>
    <th colspan="5" class="font-1-2"><%= Deck.find(deck_id).name %></th>
  </tr>
  <tr>
    <td class="pad-3-4">Round</td>
    <td>Date</td>
    <td>Cards in Deck</td>
    <td>Number of Times Guessed Correctly on First Try</td>
    <td>Total Guesses</td>
  </tr>
  <% elems.each do |e| %>
  <tr>
    <td><%= e[0] %></td>
    <td><%= e[1].strftime("%Y/%m/%d %H:%M") %></td>
    <td><%= e[2] %></td>
    <td><%= e[3] %></td>
    <td><%= e[4] %></td>
  </tr>
  <% end %>
</table>
<br>
<% end %>
</div>
