<h1><%= @user.name %></h1>

<% @to_print.each do |deck_id, elems| %>
  <h3><%= Deck.find(deck_id).name %></h3>
  <% elems.each do |e| %>
    Round: <%= e[0] %><br>
    Date: <%= e[1] %><br>
    Cards in Deck: <%= e[2] %><br>
    First Guess Correct: <%= e[3] %><br>
    Total Guesses: <%= e[4] %><br>
    <br>
  <% end %>
  <br>
<% end %>
